@model List<AttachmentViewModel>
@{
    ViewData["Title"] = "Attachments";
}

<div id="container">
    @if (Model.Count == 0)
    {
        <div class="alert alert-primary" role="alert">
            No files for this customer
        </div>
    }
    else
    {
        <div id="files" class="list-group mb-4">
            @foreach (var item in Model)
               {
                <form asp-controller="Customers" asp-action="Attachment">
                    <input type="hidden" value="@ViewBag.CustomerId" name="CustomerId" />
                    <input type="hidden" value="@item.FileName" name="FileName" />

                    <a href="~/uploads/@item.FileName" target="_blank" class="list-group-item list-group-item-action">
                        @item.FileName
                    </a>
                        <button class="btn btn-link" type="submit">Remove</button>   
                </form>
               }
        </div>
    }
</div>



<form id="Attachments" class="dropzone" asp-action="Attachments" asp-controller="Customers" asp-route-id="@ViewBag.CustomerId" enctype="multipart/form-data">
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>
        var form = document.getElementById("Attachments");
        var myDropzone = new Dropzone(form, { // Make the whole body a dropzone
            // url: "/target-url", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            // parallelUploads: 20,
            // previewTemplate: previewTemplate,
            // autoQueue: false, // Make sure the files aren't queued until manually added
            // previewsContainer: "#previews", // Define the container to display the previews
            // clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
        });

        myDropzone.on("addedfile", function (file) {
            var $divFiles = $("#files");

            if ($divFiles.length) {
                $divFiles.append(`
                    <a href="${window.location.origin}/uploads/${file.name}" target="_blank" class="list-group-item list-group-item-action">
                        ${file.name}
                    </a>
                    `);
            } else {
                $("#container").empty();
                $("#container").append(`
                     <div id="files" class="list-group mb-4">
                           <a href="${window.location.origin}/uploads/${file.name}" target="_blank" class="list-group-item list-group-item-action">
                                ${file.name}
                           </a>
                      </div>
                `);
            }
            console.log(file);
        });
    </script>
}